body {
}
.table {
}
.tasktable, .archivetable, .summarytable {
  border-collapse: separate;
  border-spacing: 0px 10px;

}
.tasktable th, td {
  padding: 2px 20px;
  margin: 2px;
  height: 30px;
}
.archivetable th, td {
  padding: 2px 20px;
  margin: 2px;
  height: 30px;
}
.addTaskTable th, td {
  padding: 2px 20px;
  margin: 2px;
  height: 30px;
}
.summarytable th, td {
  padding: 2px 20px;
  margin: 2px;
  height: 30px;
}
.tasktable__header, .archivetable__header, .summarytable__header {
  color: white;
  background-color: gray;
}
.tasktable__body, .archivetable__body, .addTaskTable, .summarytable__body{
  background-color: rgb(183, 176, 176);
}
.addTaskTable {
  width: 50%;

}
.addTaskTable__inputField{
  display: flex;
  flex-direction: column;
  align-items:flex-start;

}