body {
}
.table {
}
.tasktable, .archivetable{
  border-collapse: separate;
  border-spacing: 0px 10px;
  
}
.tasktable th, td {
  padding: 2px 20px;
  margin: 2px;
  height: 30px;
}
.archivetable th, td {
  padding: 2px 20px;
  margin: 2px;
  height: 30px;
}
.tasktable__header, .archivetable__header {
  color: white;
  background-color: gray;
}
.tasktable__body, .archivetable__body {
  background-color: rgb(183, 176, 176);
}